@page
@model Libly.Pages.Books.IndexModel

<h1>Book List</h1>

<a href="/Books/Create">Add new</a> |

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Date of Publication</th>  
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Category</td>
                <td>@Html.DisplayFor(modelItem => book.Dop)</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@book.Id">Edit</a>
                    <a asp-page="Delete" asp-route-id="@book.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>